body {
    background: white;
    background: -webkit-linear-gradient(grey, white);
    background: -o-linear-gradient(grey,white);
    background: -moz-linear-gradient(grey,white);
    background: linear-gradient(grey,white);
}